[Unit]
Description=Firewall por listas do EPG Server
Wants=network-pre.target
Before=network-pre.target docker.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/epg-firewall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
